# dependencies
node_modules/*
node_modules

# reports
cypress/screenshots
cypress/videos/*
cypress/reports

# downloads
/cypress/downloads/*

#fixture
/cypress/fixtures/gistId.json
/cypress/fixtures/gistAPIResponse.json

#env.json
cypress.env.json